hr{
    border-bottom:1px solid green;
}
a{
    margin-right:15px ;
}
body{
    width: 960px;
    margin: 15px auto;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
nav{
    padding: 15px 10px 15px 10px;
    font-size: 20px;
}
h1{
    color: rgb(25, 8, 66);
    padding:10px  ;   
}
h2{
    color: rgb(156, 22, 22);
    margin-left: 40px;
    font-style: italic;
}
    
section{
    width: 850px;
    margin: 20px 100px 20px 40px;
}
  