hr{
    border-bottom:1px solid green;
}
a{
    margin-right:15px ;
}
body{
    width: 960px;
    margin: 15px auto;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
nav{
    padding: 15px 10px 15px 10px;
    font-size: 20px;
}
h2{
    color: rgb(156, 22, 22);
    margin-left: 40px;
    font-style: italic;
}
h1{
    color: rgb(25, 8, 66);
    margin: 40px 50px 20px 40px;
}
div{
    margin: 20px 40px 20px 20px;
}

table{
    display: inline-block;
    border-style:solid ;
    border-spacing: 0;
    margin: 10px 20px 30px 20px;   
}

th{
    border-style:solid ;
    background-color: rgb(224, 50, 62);
}
   
tr,td{
    border-style:solid ; 
}
   